    /***************************************
    **This Code is written by Kareem Atef **
    **-->https://github.com/lkareeml      **
    **-->Kareem.atef@yahoo.com            **
    **-->+2 01110973265                   **
    **-->+2 01092840909                   **
    ***************************************/

    /********************* Start General Properities *********************/

    body {
    	background-color: #212121;
    	text-align: center;
    	font-size: 25px;
    	color: white;
    }
    html, body {
    	height: 100%;
    }
    .outerContainer {
    	margin: auto;
    	width: 100%;
    	height: 1400;
    }
    .innerContainer {
    	margin: auto;
    	width: 800px;
    }
    .hide {
    	display: none;
    }
    .unselectable {
    	-webkit-user-select: none;
    	-ms-user-select: none;
    	-moz-user-select: -moz-none;
    	-khtml-user-select: none;
    	user-select: none;
    }
    .sideContainer {
    	margin: auto;
    	width: 100px;
    }
    .cardContainer {
    	margin: auto;
    	width: 130px;
    }
    .scaleme {
    	-webkit-transform: scale(0.7);
    	-moz-transform: scale(0.7);
    	-ms-transform: scale(0.7);
    	-o-transform: scale(0.7);
    	transform: scale(0.7);
    }
    /********************* End of General properities *********************/

    /**************************** Start Header ****************************/

    .header {
    	width: inherit;
    	text-align: left;
    	height: 60px;
    	width: inherit;
    	background-color: #212121;
    }
    .header p {
    	float: left;
    	overflow: hidden;
    	margin-top: 10px;
    	margin-left: 10px;
    	font-family: Verdana, Geneva, sans-serif;
    	font-size: 25px;
    }
    .header #menu {
    	margin-top: 15px;
    	margin-left: 20px;
    	width: 30px;
    	height: 30px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: 0px -400px;
    }
    .header #gameIco {
    	margin-top: 10px;
    	width: 40px;
    	height: 40px;
    	margin-left: 20px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: -200px -1200px;
    }
    .header #search {
    	float: right;
    	width: 30px;
    	height: 30px;
    	margin: 15px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: -200px -400px;
    }
    .header .ico {
    	cursor: pointer;
    	float: left;
    	overflow: hidden;
    }
    /***************************** End Header *****************************/

    /**************************** Start Navbar ****************************/

    .navbar {
    	overflow: hidden;
    	background-color: #464646;
    	position: relative;
    	top: 0;
    	width: 100%;
    	color: #C7C7C7;
    	border-top: 1px solid white;
    	text-transform: uppercase;
    	font-family: Charcoal, sans-serif;
    	font-weight: bold;
    	-webkit-box-shadow: 0px 3px 3px #505050;
    	-moz-box-shadow: 0px 3px 3px #505050;
    	box-shadow: 0px 3px 3px #505050;
    }
    .navbar a {
    	float: left;
    	display: block;
    	color: #C7C7C7;
    	font-size: 15px;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
    	font-size: 17px;
    }
    .navbar a:hover {
    	color: white;
    	border-bottom: 2px solid #BFC642;
    }
    .navbar a.active {
    	background-color: #4CAF50;
    	color: white;
    	border-bottom: 2px solid #BFC642;
    }
    .navbar .icon {
    	display: none;
    }
    .navx .box {
    	float: left;
    	height: 50px;
    	line-height: 50px;
    	color: #C7C7C7;
    	margin-left: 20px;
    }
    @media screen and (max-width: 650px) {
    	.navbar a {
    		display: none;
    	}
    	.navbar a.active {
    		display: block;
    	}
    	.navbar a.icon {
    		float: right;
    		display: block;
    	}
    }
    @media screen and (max-width: 650px) {
    	.navbar.responsive .icon {
    		position: absolute;
    		right: 0;
    		bottom: 0;
    	}
    	.navbar.responsive a {
    		float: none;
    		display: block;
    		text-align: left;
    	}
    }
    /***************************** End Navbar *****************************/

    /************************** Start SlideShow ***************************/

    .slideShowSpace {
    	width: inherit;
    	height: 400px;
    	padding: 0.5px;
    	background: #F2F2F2;
    	border: 1px solid #F2F2F2;
    	background-color: #C7C7C7;
    	color: black;
    	font-family: "Arial Black", Gadget, sans-serif;
    	font-weight: bold;
    	font-size: 10px;
    }
    .slideShowSpace .slides {
    	height: 396px;
    	background-repeat: no-repeat;
    	-webkit-background-size: cover;
    	-moz-background-size: 100% 100%;
    	-ms-background-size: 100% 100%;
    	-o-background-size: 100% 100%;
    	background-size: 100% 100%;
    	background-image: url('https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/carousel/44610515_BridgeConstructorStunts_1024x500-min.png');
    }
    .slideShowSpace .balls {
    	position: relative;
    	top: 320px;
    	-webkit-transition-duration: 0.5s;
    	-moz-transition-duration: 0.5s;
    	-o-transition-duration: 0.5s;
    	transition-duration: 0.5s;
    }
    .slideShowSpace .balls .ball {
    	cursor: pointer;
    	display: inline-block;
    	overflow: hidden;
    	-webkit-border-radius: 50%;
    	-khtml-border-radius: 50%;
    	border-radius: 50%;
    	box-shadow: inset 0px 0px 2px 2px rgba(64, 37, 137, 0.78);
    }
    .slideShowSpace .balls .unclicked {
    	width: 17px;
    	height: 17px;
    	-webkit-transition-duration: 1s;
    	-moz-transition-duration: 1s;
    	-o-transition-duration: 1s;
    	transition-duration: 1s;
    	-webkit-transform: rotateZ(180deg);
    	-moz-transform: rotateZ(180deg);
    	-ms-transform: rotateZ(180deg);
    	-o-transform: rotateZ(180deg);
    	transform: rotateZ(180deg);
    	background: white;
    }
    .slideShowSpace .balls .clicked {
    	width: 20px;
    	height: 20px;
    	-webkit-transition-duration: 1s;
    	-moz-transition-duration: 1s;
    	-o-transition-duration: 1s;
    	transition-duration: 1s;
    	-webkit-transform: rotateZ(-180deg);
    	-moz-transform: rotateZ(180deg);
    	-ms-transform: rotateZ(-180deg);
    	-o-transform: rotateZ(-180deg);
    	transform: rotateZ(-180deg);
    	background: black;
    }
    /*************************** End SlideShow ****************************/

    /************************ Start Page Content **************************/

    .pageContent {
    	width: inherit;
    	height: 1150px;
    	background: #F2F2F2;
    	border: 2px solid #F2F2F2;
    	color: black;
    	font-family: "Arial Black", Gadget, sans-serif;
    	font-weight: bold;
    	font-size: 17px;
    }
    .pageContent .allSections {
    	padding: 10px;
    	height: 300px;
    }
    .pageContent .cards {
    	margin-top: 0px;
    	height: 260px;
    	overflow: scroll;
    }
    .pageContent .more {
    	cursor: pointer;
    	float: right;
    	overflow: hidden;
    	color: #BFC642;
    }
    .pageContent .title {
    	float: left;
    	overflow: hidden;
    }
    .pageContent .head {
    	height: 40px;
    }
    .card .image {
    	cursor: pointer;
    	height: 130px;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-ms-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
    }
    .card .gametitle {
    	text-align: left;
    	margin-top: 5px;
    	overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    }
    .card .publisher {
    	margin-top: 3px;
    	text-align: left;
    	color: #868686;
    	overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    }
    .card .rate {
    	margin-top: 8px;
    }
    .card .rate .star {
    	float: left;
    	overflow: hidden;
    	width: 15px;
    	height: 15px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: 0px -1200px;
    }
    .card .rate .hotstar {
    	float: left;
    	overflow: hidden;
    	width: 15px;
    	height: 15px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: -400px -1000px;
    }
    .carousel {
    	background-color: inherit;
    }
    .card {
    	float: left;
    	overflow: hidden;
    	height: 230px;
    	width: 160px;
    	margin-left: 5px;
    	margin-top: 5px;
    	margin-bottom: 5px;
    	padding: 10px;
    	background: #FFFFFF;
    	-webkit-border-radius: 2px;
    	-moz-border-radius: 2px;
    	border-radius: 2px;
    	box-shadow: 0 1px 4px 1px #9A9A9A;
    }
    .carousel-cell {
    	float: left;
    	overflow: hidden;
    	height: 240px;
    	width: 160px;
    }
    .carousel-cell:hover {
    	box-shadow: 0px 0px 150px #000000;
    	margin-left: 0px;
    	z-index: 5;
    	-webkit-transition: all 200ms ease-in;
    	-webkit-transform: scale(1.1);
    	-ms-transition: all 200ms ease-in;
    	-ms-transform: scale(1.1);
    	-moz-transition: all 200ms ease-in;
    	-moz-transform: scale(1.1);
    	transition: all 200ms ease-in;
    	transform: scale(1.1);
    }
    /************************** End Page Content **************************/

    /*********************** Start SplitScreen Section ********************/

    .splitscreen {
    	color: black;
    	z-index: 9;
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100%;
    }
    .splitscreen .division1 {
    	position: absolute;
    	left: -312px;
    	top: 0;
    	bottom: 0;
    	float: left;
    	width: 312px;
    	height: 1680px;
    	z-index: 10;
    	background: white;
    }
    .splitscreen .division2 {
    	position: fixed;
    	top: 0;
    	right: 0;
    	float: right;
    	z-index: 9;
    	width: 100%;
    	height: 100%;
    	background: rgba(11, 11, 11, 0.53);
    }
    .splitscreen .division1 .box {
    	padding: 20px;
    	font-size: 20px;
    	text-align: left;
    }
    .splitscreen .division1 .login {
    	border-bottom: 1px solid black;
    }
    .splitscreen .division1 .help {
    	border-top: 1px solid black;
    }
    .splitscreen .division1 .login .ico {
    	float: left;
    	overflow: hidden;
    	width: 40px;
    	height: 40px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: 0px 0px;
    }
    .splitscreen .division1 .help .ico {
    	float: left;
    	overflow: hidden;
    	width: 40px;
    	height: 40px;
    	background: url(https://raw.githubusercontent.com/lkareeml/frontend_engineer_assignment/master/assets/images/sprite.png);
    	background-position: -600px 0px;
    }
    .normaltext, .normaltext:hover {
    	text-decoration: none;
    	color: black;
    }
    .animeIn {
    	-webkit-animation-name: slideIn;
    	animation-name: slideIn;
    	-webkit-animation-fill-mode: forwards;
    	animation-fill-mode: forwards;
    	-webkit-animation-duration: 1s;
    	animation-duration: 1s;
    }
    .animeOut {
    	-webkit-animation-name: slideOut;
    	animation-name: slideOut;
    	-webkit-animation-fill-mode: backwards;
    	animation-fill-mode: backwards;
    	-webkit-animation-duration: 1s;
    	animation-duration: 1s;
    }
    @-webkit-keyframes slideIn {
    	0% {
    		left: -312px;
    	}
    	100% {
    		left: -10px;
    	}
    }
    @-moz-keyframes slideIn {
    	0% {
    		left: -312px;
    	}
    	100% {
    		left: -10px;
    	}
    }
    @keyframes slideIn {
    	0% {
    		left: -312px;
    	}
    	100% {
    		left: -10px;
    	}
    }
    @-webkit-keyframes slideOut {
    	0% {
    		left: -10px;
    	}
    	100% {
    		left: -312px;
    	}
    }
    @-moz-keyframes slideOut {
    	0% {
    		left: -10px;
    	}
    	100% {
    		left: -312px;
    	}
    }
    @keyframes slideOut {
    	0% {
    		left: -10px;
    	}
    	100% {
    		left: -312px;
    	}
    }
    @media (max-width: 450px) {
    	.splitscreen .division1 {
    		position: absolute;
    		left: -212px;
    		float: left;
    		width: 212px;
    		height: inherit;
    		z-index: 10;
    		background: white;
    	}
    	.splitscreen .division1 .box {
    		padding: 20px;
    		font-size: 15px;
    		text-align: left;
    	}
    	@-webkit-keyframes slideIn {
    		0% {
    			left: -212px;
    		}
    		100% {
    			left: -10px;
    		}
    	}
    	@-moz-keyframes slideIn {
    		0% {
    			left: -212px;
    		}
    		100% {
    			left: -10px;
    		}
    	}
    	@keyframes slideIn {
    		0% {
    			left: -212px;
    		}
    		100% {
    			left: -10px;
    		}
    	}
    	@-webkit-keyframes slideOut {
    		0% {
    			left: -10px;
    		}
    		100% {
    			left: -212px;
    		}
    	}
    	@-moz-keyframes slideOut {
    		0% {
    			left: -10px;
    		}
    		100% {
    			left: -212px;
    		}
    	}
    	@keyframes slideOut {
    		0% {
    			left: -10px;
    		}
    		100% {
    			left: -212px;
    		}
    	}
    }
    /*********************** End SplitScreen Section ********************/